* {
  font-family: 'Open Sans', sans-serif; }

body {
  font-size: 1em;
  margin: 0px;
  background-color: black; }

.landing-bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: -1; }

.landing-img {
  max-width: 100%;
  max-height: 100%;
  z-index: 1; }

.front {
  height: 100vh;
  width: 100%; }

.title {
  position: absolute;
  bottom: 0; }

.title, .text-segue h1 {
  font-size: 3rem;
  margin-top: 10px;
  line-height: 0.72;
  word-break: break-all;
  font-weight: 800;
  color: black; }

.text-segue {
  position: relative;
  height: 500px; }

.rows {
  position: absolute;
  height: 205px;
  overflow: hidden;
  margin: 0px; }

.row-1 {
  top: 0; }

.row-2 {
  top: 80px; }

.row-3 {
  top: 110px; }

.row-4 {
  top: 125px; }

.section-two {
  margin-top: -500px;
  width: 100%;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, #030303 16%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(16%, #030303), color-stop(100%, black));
  background: -webkit-linear-gradient(top, transparent 0%, #030303 16%, black 100%);
  background: -o-linear-gradient(top, transparent 0%, #030303 16%, black 100%);
  background: -ms-linear-gradient(top, transparent 0%, #030303 16%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, #030303 16%, black 100%); }

.intro-quote {
  padding-top: 500px;
  display: inline-block;
  color: white;
  line-height: 1.5;
  font-family: 'Old Standard TT', serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 15%; }

.intro-quote > span {
  font-family: 'Old Standard TT', serif;
  font-size: 1.2rem;
  font-weight: 300; }

.section-two video {
  width: 100%;
  margin-top: 100px; }

.poem {
  color: #E7D2AD;
  background-color: black;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 200px;
  padding-bottom: 250px;
  line-height: 1.5;
  font-family: 'Old Standard TT', serif;
  font-size: 1.2rem;
  font-weight: 400; }

.section-four, .section-six {
  background-color: black; }

.section-four video {
  width: 100%; }

.section-six video {
  width: 100%; }

.tr-bg {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1; }

.front.trb {
  text-align: center; }

.title.trb {
  width: 100%;
  top: 100vh; }

.section-two-tr {
  height: 150vh;
  width: 100%;
  position: relative; }

.intro-tr {
  max-width: 400px;
  color: #303030;
  position: absolute;
  bottom: 25vh;
  left: 25%; }

.section-three-tr {
  width: 100%;
  height: 300px;
  z-index: 1;
  background: transparent;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 100%); }

/*# sourceMappingURL=styles.css.map */
